[submodule "templates/multicmd-cli-template"]
	path = templates/multicmd-cli-template
	url = https://github.com/ta7sudan/multicmd-cli-template.git
[submodule "templates/singlecmd-cli-template"]
	path = templates/singlecmd-cli-template
	url = https://github.com/ta7sudan/singlecmd-cli-template
[submodule "templates/lib-template"]
	path = templates/lib-template
	url = https://github.com/ta7sudan/lib-template
[submodule "templates/node-lib-template"]
	path = templates/node-lib-template
	url = https://github.com/ta7sudan/node-lib-template.git
[submodule "templates/vue-mobile-template"]
	path = templates/vue-mobile-template
	url = https://github.com/ta7sudan/vue-mobile-template.git
